@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
html,
body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

body a,
body summary {
  border-radius: 0;
}

body {
  --grad-rgb-color: 255 255 255;
}

*,
:before,
:after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
*:-webkit-direct-focus {
  outline: none;
}

.wrapper {
  max-width: 90rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.font-heading {
  font-family: "Playfair Display", serif;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
